* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
}

header {
    height: 10vh;
    color: royalblue;
    line-height: 10vh;
    padding-left: 20px;
}

nav {
    height: 10vh;
    background-color: royalblue;
    text-align: center;
    line-height: 10vh;
}

h2 {
    display: inline;
    color: white;
    margin-right: 10px;
}

.icons {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.icons > div {
    display: inline-flex;
    background-color: lightgray;
    height: 100px; 
    width: 200px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px grey;
}

.icons > div > i {
    font-size: 30px;
}

